@import "/SCSS/fonts.scss" ;
@import "/SCSS/reset.scss";

// header

body{
    margin: 0;
}

.container{
	width: 100%;
	max-width:1170px;
	margin: 0 auto;
	padding: 0 15px;
}

.header{
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #BABBC5;
}

.nav{
	display: flex;
    justify-content: space-between;
	font-family: Raleway700;
    font-size: 13px;
    line-height: 15px;
	text-transform: uppercase;
	width: 670px;
	height: 63px;
}

.nav__menu{
	text-decoration: none;
    color: #fff;
	opacity: .90;
	transition: opacity .15 linear;
}

.nav__menu a{
	width: 134px;
}

.nav__menu:hover{
	border-bottom: 3px solid #BABBC5;
	opacity: 1;
	transition: .2s linear;
}

.nav__menu:active{
	border-bottom: 3px solid #E71414;
	opacity: 1;
	transition: .3s linear;
}

// banner

.banner{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 750px;
	background: linear-gradient(to top, rgba(37,43,73,0.8), rgba(37,43,73,0.8)),
	url(/img/banner_img.png);
	background-size:cover ;
	background-repeat: no-repeat;
    background-position: bottom;
}

.banner__content{
	text-align: center;
}

.banner__title{
	font-family: Raleway900;
	font-size: 64px;
	line-height: 75px;
	color:#fff;
	text-transform: uppercase;
}

.banner__subtitle{
	font-family: Raleway400;
	font-size: 24px;
	line-height: 28px;
	color:#fff;
	margin-top: 31px;
	margin-bottom: 82px;
}

.banner__btn{
	font-family: Raleway900;
	font-size: 24px;
	line-height: 28px;
	color:#fff;
	text-transform: uppercase;
	width: 370px;
	height: 80px;
	background-color:#FF4343;
}

.banner__btn:hover{
	background: #E71414;
	transition: .5s linear;
}

.banner__btn:active{
	background: #FF4343;
	box-shadow: 4px 5px 30px #FF4343;
	transition: opacity .7s linear;
}

// features

.features__content{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 100px;
}

.features__item{
	width: 33.333%;
	text-align: center;
	margin-top: 100px;
}

.feature__icon{
	margin-bottom: 29px;
	width: 100px;
	height: 100px;
}

.feature__title{
	font-family: Raleway900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	width:370px;
	height:72px;
}

.feature__text{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	margin-top: 20px;
	width: 370px;
}

// work

.works{
	display: flex;
	flex-wrap: wrap;
}

.works__item{
	width:25%;
	position: relative;
	height: 340px;
}

.works__img{
	position: absolute;
	border: 2px solid #FFFFFF;
}

.works__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	position: absolute;
	background:rgba(255, 67, 67, .8);
	opacity: 0;
	z-index: 2;
	width: 379px;
	height: 100%;
	transition: opacity .2s linear;
}

.works__item:hover .works__content {
	opacity: 1;
	border: 2px solid #FFFFFF;
	transition: .3s linear;
}

.works__item:active .works__content{
	background: rgba(185, 12, 12, 0.8);
	border: 2px solid #FFFFFF;
	transition: .3s linear;
}

.works__title{
	font-family: Raleway900;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #fff;
	height: 60px;
}

.works__text{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
}

// teams

.team{
	margin: 114px 0;
}

.team__content{
	display: flex;
	flex-wrap: wrap;
}

.team__item{
	width: 25%;
	padding: 0 15px;
	margin-bottom: 30px;
}

.team__photo{
	display: block;
	max-width: 100%;
	height: auto;
	margin-bottom: 30px;
}

.team__name{
	font-family: Raleway700;
	font-size: 24px;
	line-height: 28px;
	height: 30px;
}

.team__position{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	color: #FF4343;
	text-transform: uppercase;
}

.team__text{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	margin-top: 18px;
}

.social__icon{
	margin-top: 38px;
}

// reviews

.reviews{
	background-color: #5C3249;
}

.reviews__item{
	display: flex;
	flex-wrap: wrap;
}

.reviews__photo{
	width: 50%;
	height: 490px;
	position: relative;
}

.reviews__image{
	position: absolute;
	right: 0;
	top: 0;
}

.reviews__content{
	display: flex;
	flex-direction:column ;
	justify-content: center;
	width: 50%;
	padding-left: 120px;
	text-transform: capitalize; 
}

.reviews__content q{
	font-family: Cardo400;
	font-size: 36px;
	line-height: 49px;
	color:#fff;
	width: 470px;
	margin-bottom: 15px;
}

.reviews__content cite{
	font-family: Raleway700;
	font-size: 13px;
	line-height: 15px;
	color:#fff;
}

// download

.download{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	height: 490px;
}

.download__content{
	text-align: center;
}

.download__title{
	font-family: Raleway500;
	font-size: 30px;
	line-height: 35px;
}

.download__subtitle{
	font-family: Raleway700;
	font-size: 18px;
	line-height: 21px;
	margin-top: 31px;
	margin-bottom: 50px;
}

.download__btn{
	font-family: Raleway900;
	font-size: 24px;
	line-height: 28px;
	color:#fff;
	text-transform: uppercase;
	width: 370px;
	height: 80px;
	background-color:#FF4343;
}

.download__btn:hover{
	background: #E71414;
	transition: .5s linear;
}

.download__btn:active{
	background: #FF4343;
	box-shadow: 4px 5px 30px #FF4343;
	transition: opacity .7s linear;
}

// footer

.footer{
	background-color: #353C65;
}

.footer__inner{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	color: #808080;
	background-color:#2C3154;
	width: 100%;
	height: 90px;
	display: flex;
	text-align: center;
	justify-content: center;
	flex-direction: column;
}


.footer__inner span{
	color:#fff;
}

.footer__item{
	display: flex;
	flex-wrap:wrap ;
	height: 250px;
}

.footer__content{
	width:33.333%;
	text-align: center;
	margin-top: 71px;
}

.footer__content p{
	font-family: Raleway400;
	font-size: 18px;
	line-height: 21px;
	color: #fff;
	margin-top: 29px;
}

.footer__title{
	font-family: Raleway700;
	font-size: 18px;
	line-height: 21px;
	text-transform: uppercase;
	color: #fff;
}

.social__icons{
	margin-top: 49px;
}

.social__icons img{
	border: 1px solid #C6CBCD;
	margin: 0 13px;
	width: 39px;
}